<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
table, th, td {
	padding: 10px;
	border: 1px solid grey;
}

table th {
	background-color: lightgrey;
}
</style>
</head>

<body style="padding-left: 5%; padding-top: 2%">
	<h1>Making invoice</h1>
	<div style="padding-top: 20px;">
		<form th:action="@{|/add/consumer/${consumerId}/invoice|}"
			method="post">
			<table>
				<tr>
					<th><span>Name</span>
					<a th:href="@{|/consumer/${consumerId}/invoice/add/item|}"> 
					<span style = "float:right;text-decoration:underline;">add item</span>
				    </a>
					</th>
					<th>Size</th>
					<th>Price</th>
					<th>Quantity</th>
				</tr>
				<tr th:each="item: ${items}">
					<td th:text="${item.getName}"></td>
					<td th:text="${item.getSize}"></td>
					<td><input type="number" th:name="${item.getId() + '.price'}" /></td>
					<td><input type="number"
						th:name="${item.getId() + '.quantity'}" /></td>
				</tr>
			</table>
			<div style="padding-top: 10px;">
				<label>Message(optional):</label>
			</div>
			<div>
				<textarea th:name="message" rows="4" cols="50">
            </textarea>
			</div>

			<div style="padding-top: 10px;">
				<input type="submit" value="Save" /> <input type="reset"
					value="Cancel" />
			</div>

		</form>
	</div>
</body>
</html>