<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
#mainTable {
	background-color: #F4F6F6;
}
</style>
</head>

<body style="padding-left: 5%; padding-top: 2%">
	<div th:replace="header"></div>
	<h3>Active invoices</h3>
	<div id="mainTable">
		<table class="table">
			<thead class="thead-dark">
				<tr style = "background-color:#2E4053; color: white;">
					<th scope="col">#</th>
					<th scope="col">Client</th>
					<th scope="col">Message</th>
					<th scope="col">Sum</th>
				</tr>
				<tr th:each="consumer, iStat: ${activeSums}">
					<th scope="row" th:text="${iStat.index + 1}" />
					<td><a
						th:text="${consumer.getConsumer().getFullname()}
					+' - '+ ${consumer.getConsumer().getAddress()}" />
					</td>
					<td th:text="${consumer.message}" style="color: #2E4053; font-weight: bold"></td>
					<td th:text="${consumer.amount}"
						style="font-weight: bold; color: #2E4053"></td>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
</body>
</html>