<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style="padding-left: 5%; padding-top: 2%">
	<div th:replace="header"></div>
	<h3>Active invoices</h3>
	<div id="mainTable">
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Client</th>
					<th scope="col">Note</th>
					<th scope="col">Sum</th>
				</tr>
				<tr th:each="consumer, iStat: ${activeSums}">
					<th scope="row" th:text="${iStat.index + 1}" />
					<td><a th:text="${consumer.getConsumer().getFullname()}
					+' - '+ ${consumer.getConsumer().getAddress()}" />
					</td>
					<td th:text="${consumer.message}"></td>
					<td th:text="${consumer.amount}" 
					style = "font-weight: bold"></td>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
</body>
</html>